.c-block-reveal-wrap--inline
  display: inline-block

.c-block-reveal
  position: relative
  display: inline-block

.c-block-reveal__element
  opacity: 0

.c-block-reveal__block
  +absolute-full
  height: 100%
  width: 100%

