.c-work-brief__text

  +breakpoint(break-0)
    margin-bottom: 2rem

  +breakpoint(break-1)
    margin-bottom: 0

  +breakpoint(break-2)
    margin-bottom: 0

  +breakpoint(break-3)
    margin-bottom: 0

  +breakpoint(break-4)
    margin-bottom: 0
