.c-work-hero
  display: flex
  align-items: center
  height: calc(100vh - 3rem)
  position: relative
  margin-bottom: 3rem

.c-work-hero__tag-list
  list-style-type: none

.c-work-hero__tag
  display: inline-block

.typeset
  .c-work-hero__tag-list
    +sassline(beta, $headingtype, 2, 1, all)

  .c-work-hero__tag
    margin: 0
    padding: 0
