.c-hero
  display: flex
  align-items: center
  height: calc(100vh - 3rem)
  position: relative
  margin-bottom: 3rem

.c-hero__content
  z-index: 2
  margin: 0 auto
  margin-top: -3rem

.c-hero__subtitle
  font-family: unquote(map-get($headingtype, font-family))
  +sassline(alpha, $headingtype, 4, 1, all)
  position: relative
  top: 1rem

.c-hero__actions
  position: relative
  padding: 3rem 0
