.c-work-hero__tag-list
  list-style-type: none

.c-work-hero__tag
  display: inline-block

.typeset
  .c-work-hero__tag-list
    +sassline(beta, $headingtype, 2, 1, all)

  .c-work-hero__tag
    margin: 0
    padding: 0

.c-work-hero__overlay
  +absolute-full
  opacity: 0.2
  z-index: 1
  margin: 1rem 0 3rem 0


.c-work-hero__content
  z-index: 2
