.c-work-hero__tag-list
  list-style-type: none

.c-work-hero__tag
  display: inline-block

.typeset
  .c-work-hero__tag-list
    +sassline(beta, $headingtype, 3, 1, all)

  .c-work-hero__tag
    margin: 0
    padding: 0

.c-work-hero__content
  z-index: 2
  margin-top: -3rem
