.c-work-image
  position: relative

.c-work-image__aspect
  +aspect(375, 209)

.c-work-image__image
  display: none

.c-work-image__image--loaded
  display: inline-block
  animation: fadeIn 0.5s ease-in

.c-work-image__caption
  font-family: unquote(map-get($headingtype, font-family))
  +baseline($fontsize: zeta, $font: $bodytype, $lineheight: 2, $below: 2, $breakpoint: all)
  +box-shadow-border(top, 2px, $black)
  margin-top: 2rem
