.c-down-arrow
  position: absolute
  right: 0
  bottom: 1rem

  +breakpoint(break-0)
    transform: scale(0.5)

  +breakpoint(break-2)
    transform: scale(0.75)

  +breakpoint(break-3)
    transform: scale(0.8)

  +breakpoint(break-4)
    transform: scale(1)
