.ril__toolbarItemChild {
  vertical-align: top !important;
}

.ril__builtinButton {
  height: 50px !important;
  width: 50px !important;
  background-color: rgba(0, 0, 0, 1) !important;
  opacity: 1 !important;
}

.ril__toolbarRightSide {
  padding-right: 0 !important;
}

.ril-toolbar, .ril__toolbar {
  background-color: rgba(0, 0, 0, 0) !important;
}

.ril__navButtons {
  width: 50px !important;
  padding: 50px 0 !important;
}

.ril__navButtonNext, .ril__navButtonPrev {
  background-color: rgba(0, 0, 0, 1) !important;
  opacity: 1 !important;
}

.ril-zoom-in, .ril-zoom-out {
  display: none;
}

// See _components.loading-indicator.sass for inheritance

.ril__loadingCircle {
  &:before,
  &:after {
    @extend %loading-indicator;
    border-color: $white;
  }

  &:before {
    @extend %loading-indicator-anim--before;
  }

  &:after {
    @extend %loading-indicator-anim--after;
  }
}

.ril__loadingCirclePoint {
  @for $i from 1 through 12 {
    &:nth-of-type(#{$i}) {
      display: none !important;
    }
  }
}

