.c-button
  padding: 0 1rem
  display: inline-block
  line-height: 3rem
  color: $gray-dark
  background: transparent

  &:hover, &:focus
    color: $gray-dark

.c-button--outline
  border: 2px solid $black
  font-weight: bold

.button-group-flush
  margin-left: -0.5rem
  margin-right: -0.5rem

  .c-button
    padding: 0 0.5rem

.button-outline-align
  +baseline(zeta, $bodytype, 4, 1, all)
  position: relative
  margin-top: -2rem
  padding-bottom: 1rem
