.c-tablet
  width: 100%
  position: relative

  +breakpoint(break-0)
    height: 25rem

  +breakpoint(break-1)
    height: 18rem

  +breakpoint(break-2)
    height: 21rem

  +breakpoint(break-3)
    height: 21rem

  +breakpoint(break-4)
    height: 24rem

  svg
    width: 100%
