.c-top-nav {
  top: 0;
  width: 100%;
  display: block;
  position: fixed;
  height: 3rem;
  background-color: $backgroundColour;
  z-index: 99;
}

.c-top-nav__link {
  &:hover, &:focus {
    @include box-shadow-border(bottom, 4px, $black);
  }
}

.c-top-nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 94%;
  margin: 0 auto;
  @include box-shadow-border(bottom, 2px, $black);

  @include breakpoint(break-3) {
    @include maxwidth(3);
  }

  @include breakpoint(break-4) {
    @include maxwidth(4);
  }
}

.c-top-nav__logo {
  color: $headingColour;
  position: relative;
  font-weight: 700;
  line-height: 3rem;
  display: inline-block;
  transition: all 0.25s ease;

  &:hover, &:focus {
    color: $headingColour;
    outline-color: $captionColour;
  }
}
