.button
  padding: 0 1rem
  display: inline-block
  line-height: 3rem
  color: $gray-dark

  &:hover, &:focus
    color: $gray-dark

.button--outline
  border: 2px solid $black

.button-group-flush
  margin-left: -1rem
  margin-right: -1rem

.button-outline-align
  +baseline(zeta, $bodytype, 4, 1, all)
  position: relative
  margin-top: -2rem
  padding-bottom: 1rem
