.c-button
  padding: 0 1rem
  display: inline-block
  line-height: 3rem
  color: $bodyColour
  background: none
  transition: all 0.25s ease

  &:hover, &:focus
    color: $bodyColour

  &:focus
    outline-color: $captionColour

.button-group-flush
  margin-left: -0.5rem
  margin-right: -0.5rem

  .c-button
    padding: 0
    margin: 0 0.5rem

.button-outline-align
  +baseline(zeta, $bodytype, 4, 1, all)
  position: relative
  margin-top: -2rem
  padding-bottom: 1rem


.c-button--outline
  font-family: unquote(map-get($headingtype, font-family))
  font-weight: 700
  position: relative
  height: 3.2rem
  padding: 0 1.2rem

  svg
    +absolute-full

.c-button__text
  opacity: 0



