.c-work-item
  margin-top: 7rem
  margin-bottom: 7rem

.typeset
  .c-work-item__tag-list
    font-family: unquote(map-get($headingtype, font-family))
    +sassline(delta, $headingtype, 2, 1, all)
    font-weight: 400

  .c-work-item__meta
    font-family: unquote(map-get($headingtype, font-family))
    +sassline(zeta, $headingtype, 2, 1, all)
    font-weight: 400

  .c-work-item__display-name
    position: absolute
    color: $black
    z-index: -1
    transform: rotate(90deg)
    transform-origin: bottom left

    .c-halftone-character__halftone
      transform: rotate(180deg)

    +breakpoint(break-0)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: calc(100% - 8rem)
      top: 7rem

    +breakpoint(break-1)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: calc(100% - 6rem)
      top: -2rem

    +breakpoint(break-2)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: calc(100% - 6rem)
      top: -2rem

    +breakpoint(break-3)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: calc(100% - 6rem)
      top: -2rem

    +breakpoint(break-4)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: calc(100% - 6rem)
      top: 0

  .c-work-item__index
    position: absolute
    color: $black

    +breakpoint(break-0)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: -2rem
      top: 0

    +breakpoint(break-1)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: -4.25rem
      top: 0

    +breakpoint(break-2)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: -4.25rem
      top: 0

    +breakpoint(break-3)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: -4.25rem
      top: 0

    +breakpoint(break-4)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: -4.25rem
      top: 0
