.c-tablet__wrap
  +aspect(16, 11)

.c-tablet
  width: 100%
  position: relative

  svg
    width: 100%

.c-tablet__warp--left

  +breakpoint(break-0)
    +aspect(16, 11)
    transform: translateX(0)
    width: 100%
    margin-bottom: 2rem

  +breakpoint(break-1)
    height: 25rem
    transform: translateX(-12rem)
    overflow: visible
    width: calc(100% + 12rem)
    margin-bottom: 0

  +breakpoint(break-2)
    height: 28rem
    transform: translateX(-12rem)
    overflow: visible
    width: calc(100% + 12rem)
    margin-bottom: 0

  +breakpoint(break-3)
    +aspect(16, 11)
    transform: translateX(0)
    width: 100%
    margin-bottom: 0

  +breakpoint(break-4)
    +aspect(16, 11)
    transform: translateX(0)
    width: 100%
    margin-bottom: 0

.c-tablet__warp--right

  +breakpoint(break-0)
    +aspect(16, 11)
    transform: translateX(0)
    width: 100%
    margin-top: 2rem

  +breakpoint(break-1)
    height: 25rem
    transform: translateX(4rem)
    overflow: visible
    width: calc(100% + 12rem)
    margin-top: 0

  +breakpoint(break-2)
    height: 28rem
    transform: translateX(4rem)
    overflow: visible
    width: calc(100% + 12rem)
    margin-top: 0

  +breakpoint(break-3)
    +aspect(16, 11)
    transform: translateX(0)
    width: 100%
    margin-top: 0

  +breakpoint(break-4)
    +aspect(16, 11)
    transform: translateX(0)
    width: 100%
    margin-top: 0
