.c-work-item
  padding-top: 4rem
  padding-bottom: 4rem

.c-work-item__tag-list
  list-style-type: none

.c-work-item__tag
  display: inline-block

.typeset
  .c-work-item__tag-list
    +sassline(delta, $headingtype, 2, 1, all)

  .c-work-item__tag
    margin: 0
    padding: 0

  .c-work-item__display-name
    position: absolute
    color: $black
    z-index: -1
    transform: rotate(90deg)
    transform-origin: bottom left

    &:after
      transform: rotate(-180deg)

    +breakpoint(break-0)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: calc(100% - 8rem)
      top: 7rem

    +breakpoint(break-1)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: calc(100% - 6rem)
      top: -2rem

    +breakpoint(break-2)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: calc(100% - 6rem)
      top: -2rem

    +breakpoint(break-3)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: calc(100% - 6rem)
      top: -2rem

    +breakpoint(break-4)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: calc(100% - 6rem)
      top: 0

  .c-work-item__index
    position: absolute
    color: $black

    +breakpoint(break-0)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: -2rem
      top: 0

    +breakpoint(break-1)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: -4.25rem
      top: 0

    +breakpoint(break-2)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: -4.25rem
      top: 0

    +breakpoint(break-3)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: -4.25rem
      top: 0

    +breakpoint(break-4)
      +sassline-display(alpha, $headingtype, 11, 1, 4)
      left: -4.25rem
      top: 0
