.c-work-image
  position: relative

.c-work-image__aspect
  +aspect(375, 209)
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15)

.c-work-image__image
  display: none

.c-work-image__image--loaded
  display: inline-block
  animation: fadeIn 0.5s ease-in

.c-work-image__caption
  font-family: unquote(map-get($headingtype, font-family))
  +baseline($fontsize: zeta, $font: $bodytype, $lineheight: 2, $below: 2, $breakpoint: all)
  margin-top: 1rem
