.c-work-image
  margin-bottom: 1rem
  position: relative

.c-work-image__aspect
  +aspect(300, 167)

.c-work-image__bg
  +aspect-fill
  background: none
  z-index: -1

.c-work-image__caption-wrap
  margin-top: 1rem

.c-work-image__caption
  +box-shadow-border(top, 2px, $black)
  margin-top: 1rem
