.c-phone
  width: 100%
  position: relative
  margin: 0 auto 2rem auto

  +breakpoint(break-0)
    height: 38rem

  +breakpoint(break-1)
    height: 28rem

  +breakpoint(break-2)
    height: 30rem

  +breakpoint(break-3)
    height: 27rem

  +breakpoint(break-4)
    height: 24rem

  svg
    width: 100%
