@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:400,700');
@import '~sassline/assets/sass/sassline-base/variables';

$bodytype: (
  font-family: 'Roboto, Helvetica, sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.72
);

$headingtype: (
  font-family: 'Roboto Mono, Helvetica, sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.72
);

$black: #000;
