$rootsize: 10;
$cap-height: 0.75;

$font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$line-height: 2rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$modular-scale: (
  alpha:   36,
  beta:    28,
  gamma:   24,
  delta:   20,
  epsilon: 18,
  zeta:    16
);
