@mixin baseline($fontsize, $lineheight: 2, $below: 2, $scale: 1) {
  $font-size: map-get($modular-scale, $fontsize);

  $baseline-shift: #{($font-size / 2 * (($lineheight * $rootsize / $font-size) - $cap-height)) / $rootsize + 0.00001};
  $baseline-push: #{$below - (($font-size / 2 * (($lineheight * $rootsize / $font-size) - $cap-height)) / $rootsize + 0.00001)};

  font-size: #{$font-size / $rootsize}rem;
  line-height: #{$lineheight}rem;
  margin-bottom: #{$baseline-push}rem;
  padding-top: #{$baseline-shift}rem;
}
